:root {
    --text-dark: #000;
    --test-light: #fff;
    --text-grey: #adbdcc;
    --body-font: "Roboto", sans-serif;
    --heading-font: "Anek Telugu", sans-serif;
    --h1-size: 94px;
    --h2-size: 50px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --h1-line-height: 108px;
    --h2-line-height: 75px;
    --p-size: 18px;
    --p-line-height: 26px;
    --secondary-text-height: 18px;
    --secondary-text-size: 14px;
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --bg-white: #fff;
    --bg-light: #f7f9fc;
    --primary-accent: #0a2540;
    --primary-button-hover: #6d7a88;
    /* SPACING */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1144px;
    --subtitle-size: 17px;
    --subtitle-height: 26px;
    --button-size: 16px;

}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: var(--spacing-sm);
    background-color: var(--purple-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h1-size);
    width: 100%;
    margin: 0px;
    letter-spacing: -0.25px;
    line-height: var(--h1-line-height);
}

h2 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h2-size);
    width: 100%;
    margin: 0px;
    line-height: var(--h1-line-height);
}

h3 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h3-size);
    width: 100%;
    margin: 0px;
    letter-spacing: var(--letter-spacing);
}

h4 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h4-size);
    width: 100%;
    margin: 0px;
    letter-spacing: 0.25;
}

h5 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h5-size);
    width: 100%;
    margin: 0px;
}

h6 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h6-size);
    width: 100%;
    margin: 0px;
}

a {
    text-decoration: none;
    font-weight: 500;
    transition: color .25s ease;
}

a:hover {
    color: var(--primary-accent)
}

p {
    font-size: var(--p-size);
    line-height: var(--p-line-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}

.subtitle,
.subtitle2 {
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
}

.subtitle2 {
    color: var(--blue-1);
}

.secondary-text {
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    color: var(--text-grey);
    letter-spacing: 0.25px;
}

.primary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: var(--test-light);
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--primary-accent);
    transition: all 0.25 ease;
}

.primary-button:hover {
    cursor: pointer;
    background-color: var(--primary-button-hover);
}

.secondary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: var(--primary-accent);
    background-color: transparent;
    transition: all 0.25 ease;
}

.secondary-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.with-icon>img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease;
}

.with-icon:hover>img {
    transform: translateX(5px)
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--standard-width);
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu a {
    color: var(--test-light);
    margin: 0 var(--spacing-md);
    font-weight: bold;

}

.menu a:hover {
    text-decoration: underline;
}

.navbar-button {
    background: rgba(250, 250, 250, .25);
}

.navbar-button:hover {
    background: rgba(250, 250, 250, .05);
}

.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

.two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column>.col-left {
    width: 50%;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column>.col-right {
    width: 50%;
    padding: 0 0 0 var(--spacing-md);
    align-items: start;
    justify-content: center;
}